.contenedor-SearchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: rgba(153, 158, 226, 0.5);
  color:rgba(153, 158, 232, 0.5);
}

.contenedor_searchBar--details {
  background-color: #b8afe4; 
}

.searchBar-contenador-nav {
  display: flex;
  align-items: center;
  background-color:rgb(146, 120, 237);
}


.searchBar_icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.details_link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.details_link:hover {
  color: rgb(138, 125, 199); /* Cambio de color al pasar el ratón */
}

.details_text {
  font-size: 16px;
}

.details_create {
  color: #050506; /* Color del botón CREATE YOUR DOG */

}

.details_home {
  color: #020202; /* Color del botón HOME */
}

.details_name {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
 
  
}

.details_name_icon {
  width: 50px;
  height:40px;
  margin-right: 200px;
}

.details_contenedor_img {
  text-align: center;
  margin-top: 10px;

}

.img-Details {
  max-width: 35%;
  height: auto;
  border-radius: 50px;
}

.contenido-Details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
 background-color: #b9b9d9;
}

.details_items {
  border: 5px solid #09090a;
  padding: 10px;
  border-radius: 5px;
}

.details_subtitle {
  margin-bottom: 60px;
}

.details_icons {
  margin-right: 50px;
}




@media (max-width: 768px) {
  .contenedor-SearchBar {
    padding: 10px;
  }
}

