

.card-Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: fantasy;
  background-color: rgba(153, 158, 232, 0.5);

}

.nav-Home {
  padding: 0 0px;
  background-color: rgba(79, 86, 188, 0.5);

}

