.paginado_contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.paginado {
    margin: 10px 20px 0 20px;
    width: 40px;
    height: 40px;
}

.paginado_current {
    background-color: transparent;
    color: #392388;
    font-weight: 800;
    border: 2px solid  #392388;
    border-radius: 5px;
    margin-bottom: 15px;
}

.paginado_icon {
    cursor: pointer;
    color: #392388;
}

.paginado_buttons {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}