.paginado_contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.paginado {
    margin: 10px 20px 0 20px;
    width: 40px;
    height: 40px;
}

.paginado_current {
    background-color: transparent;
    color: #040406;
    font-weight: 800;
    border: 5px solid  #070708;
    border-radius: 10px;
    margin-bottom: 15px;
}

.paginado_icon {
    cursor: pointer;
    color: #020203;
}

.paginado_buttons {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}