.order_links {
    height: 100%;
    transition: transfrom 0.5s;
    display: flex;
    user-select: none;
  }
  
  .order_item {
    list-style: none;
    position: relative;
    height: 50%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
  }
  
  .order_item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
  }
  
  .order_link {
    background-color: transparent;
    border: none;
    width: 50px;
    color: #1c0d02;
    text-decoration: none;
    padding: 0 50px;
    display: flex;
    height: 20%;
    align-items: center;
    font-family: fantasy;
  }
  
  .order_link:hover {
    background-color: transparent;
  }
  
  .order_arrow {
    margin: 0;
    transform: var(--transform);
    transition: transform 0.2s;
    display: block;
    margin-left: 3px;
    width: 30px;
    height: 30px;
  }
  
  .order_nesting {
    list-style: none;
    transition: clip-path 0.3s;
    clip-path: var(--clip);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    transform: translateY(100%);
    background-color: rgb(156, 168, 240);
  }
  
  .order_link--title {
    background-color: #b096ec;
    right: inherit;
    padding: 5px 5px;
    height:   40px;
  }
  
  .order_link--title:hover {
    background-color: #8b82f4;
  }
  
  .order_link--inside {
    padding: 10px 5px;
    height: 50px;
  }
  
  .order_link--inside:hover {
    background-color:rgba(153, 158, 232, 0.5);
    display:flex;
  }
  
  .order_hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
  }
  
  .order_img {
    display: block;
    width: 36px;
  }
  
  @media (max-width: 600px) {
    .order_link {
      padding: 0;
      width: 100%;
    }
  
    .order_nesting {
      width: 120px;
    }
  }